.rbenv-*
*.gem
*.rbc

InstalledFiles
lib/bundler/man
tmp
results.html
html

# Tests
test/tmp
test/version_tmp
spec/reports
spec/fixtures/db
coverage

# Build
pkg

# Dotfiles
.rvmrc
.bundle
.config

# Documentation
.yardoc
_yardoc
doc/
rdoc
